/* 
.sulli{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
} */
/* .opo{
   font-family: 'Raleway';
   font-size: small;
   width: 300px;
   padding-left: 10px;
   color: red;
} */

.puka{
    height: 10vh;
    position: fixed;
    left: 0;
    bottom: -1px;
    width: 100vw;
    background-color:#212425;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
.pola{
    width: 20vw;
    background-color: #212425;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    font-family: "Raleway";
    padding: 10px;
    font-weight: 600;
    font-size:medium;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.lkl{
    display: flex;
    padding: 15px ;
    padding-left: 30px;
    margin-top: 3px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    gap: 13px;
    border-radius: 20px;
}
.lkl:hover{
    background-color: black;
}
.ab{
    
}

.but-ico{
   padding: 20px;
   border-radius: 20px;
}

.mobile-view {
    display: block;
}
.desktop-view{
    display: none;
}
@media (min-width :700px){
    .desktop-view {
        display: block;
    }
    .mobile-view {
        display: none;
    }
}